<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="TencentCloud" value="https://nuget.cdn.azure.cn/v3/index.json" />
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <config>
        <add key="globalPackagesFolder" value="packages" />
    </config>
    <packageSourceMapping>
        <packageSource key="NuGet.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="TencentCloud">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>